<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div id="gme-{map.uid}-searchlocation">
    <f:if condition="{map.locationSearch}">
        <input type="text" id="inputsearchlocation" name="inputSearchLocation" class="js-gme-inputsearchlocation" value="{request.inputSearchLocation}" placeholder="{f:translate(key:'tx_gomapsext_partials_map_searchlocation.placeholderSearchLocation')}"/>
        <button type="button" id="buttonsearchlocation">
            {f:translate(key:'tx_gomapsext_partials_map_searchlocation.submitSearchLocation')}
        </button>
    </f:if>    
    <f:if condition="{map.locationCurrent}">
        <button type="button" id="gme-{map.uid}-getlocation">
        {f:translate(key:'tx_gomapsext_partials_map_getlocation.getLocationButton')}
        </button>
    </f:if>
</div>


