<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<form id="gme-{map.uid}-searchlocation" method="post">
    <input type="text" name="sword" class="js-gme-sword" value="{request.sword}" />
    <input type="submit" class="js-gme-submit" name="submitSearchLocation" value="{f:translate(key:'tx_gomapsext_partials_map_searchlocation.submitSearchLocation')}" />
    <!--div class="js-gme-error"><f:translate key="partials.map.form.error" /></div-->
</form>
